
  input[type="text"], input[type="email"]{
    border:0 !important;
    background:none !important;
    border-bottom: 3px solid green !important;
  }
  input[type="text"]:hover, input[type="email"]:hover{
    border:0 !important;
    background:none !important;
    border-bottom: 3px solid orangered !important;
  }
  textarea{
    border:0 !important;
    background:none !important;
    border-bottom: 3px solid green !important;
    overflow: fixed !important;
    resize: horizontal !important;
}
  }
  textarea:hover{
    border:0 !important;
    background:none !important;
    border-bottom: 3px solid orangered !important;

  }
  textarea:focus{
    border:0 !important;
    background:none !important;
    border-bottom: 3px solid green !important;
  }
  textarea:active{
    border:0 !important;
    background:none !important;
    border-bottom: 3px solid green !important;
  }
  #submit{
    background: none !important;
    color: green;
    border:none;
    border-bottom: 2px solid green;
  }
  #submit:hover{
    background: none !important;
    color: green;
    border:none;
    border-bottom: 2px solid orangered;
  }
  small{
    font-size: 12px;

  }